<div class="col s12 m12 l6">
  <div class="card">
    {% if post.image_path %}
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{url_for('user.prox', path=post.image_path)}}">
    </div>
    {% else %}
    <div class="card-image">
      <img id="post-{{post.id}}" src="">
    </div>
    {% endif %}
    <div class="card-content white-text">
      {% if post.caption %}
        <span class="card-title activator">
        {{ post.title }}
        <i class="mdi-navigation-more-vert right"></i>
        </span>
      {% else %}
        <a class="card-title truncate" href="{{ url_for('user.post', id=post.id) }}">
        {{ post.title }}
        </a>
      {% endif %}
      On {{ post.timestamp.strftime('%B %d, %Y -  %I:%M %p') }} 
      {% if post.text %}
        <p class="truncate">{{ post.text }}</p>
      {% endif %}
    </div>
    {% if post.caption %}
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{ post.title }}<i class="mdi-navigation-close right"></i></span>
      <p>{{ post.caption }}</p>
    </div>
    {% endif %}
    <div class="card-action">
    {% if post.text %}
      <a class="card-title" href="{{ url_for('user.post', id=post.id) }}">Read more</a>
    {% endif %}
    {% if current_user.is_authenticated and current_user.id == post.author.id %}
      <a class="card-title" href="{{ url_for('user.edit_post', id=post.id) }}">Edit</a>
    {% endif %}
    </div>

  </div>
</div>

{% if not post.image_path %}
<script>
  L.mapbox.accessToken = 'pk.eyJ1IjoiZGFuazUyOCIsImEiOiJzOVp0TzJnIn0.1c8obLmcPHN4LosoNan8DQ';

  // This is an example using geojson-extent. See the full docs for full details
  // https://github.com/mapbox/geojson-extent

  // Declare a GeoJSON file with the two places we're interested in.
  var loc = {
    "type": "FeatureCollection",
    "features": [
      {
        "type": "Feature",
        "properties": {},
        "geometry": {
          "type": "Point",
          "coordinates": [
            {{ post.longitude }},
            {{ post.latitude }}
          ]
        }
      }
    ]
  };

  // Calculate a bounding box in west, south, east, north order.
  //var bounds = geojsonExtent(sfAndDc);
  bounds = [ {{ post.longitude-0.1 }}, {{post.latitude-0.1}},{{post.longitude+0.1}},{{post.latitude+0.1}} ];

  // The size of the desired map.
  var size = [700, 200];

  // Calculate a zoom level and centerpoint for this map.
  var vp = geoViewport.viewport(bounds, size);

  // Create pins at places in the geojson file.
  var pins = [];
  pins.push('pin-s+2196F3(' + loc.features[0].geometry.coordinates.join(',') + ')');
 

  // Construct a static map url
  // https://www.mapbox.com/developers/api/static/
  document.getElementById('post-{{post.id}}').src =
      'https://api.tiles.mapbox.com/v4/examples.map-i86nkdio/' +
      pins.join(',') + '/' +
      vp.center.join(',') + ',' +
      vp.zoom + '/' +
      size.join('x') + '.png' +
      '?access_token=' + L.mapbox.accessToken;
</script>
{% endif %}
