<!DOCTYPE html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    
    {% block meta %}
      <meta name="description" content="">
      <meta name="author" content="Dan Kolbman"></meta>
    {% endblock %}

    {% block css %}
      <link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet"></link>

      <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"></link>
    {% endblock %}

    {% block scripts %}
     <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='mjs/materialize.min.js')}}"></script>

    {% endblock %}

</head>

<body class="blue lighten-5">

  {% include 'includes/navigation.html' %}

  <div class="container">

    {% block body %}
    {% endblock %}

  </div>

  {% block foot_scripts %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/blog.js') }}"></script>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  {% endblock %}

  {% block alerts %}
    {% for message in get_flashed_messages() %}
      <script type="text/javascript">
        toast('{{ message }}', 5000);
      </script>
    {% endfor %}
  {% endblock %}


  </body>
</html>

