{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block scripts %}

  {{ super() }}

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/geojson-extent/v0.0.1/geojson-extent.js'></script>

{% endblock %}

{% block body %}

  <div id="map" class="card">
    <div class="card-content">

    </div>

  </div>
  {% if user %}
    <h1 class="center-align">{{ user.username }}'s latest posts</h1>
  {% else %}
    <h1 class="center-align">Latest posts</h1>
  {% endif %}
  

  {% if posts %}
    <div class="row">
    {% for post in posts %}

      {% include 'includes/post.html' %}

    {% endfor %}
    </div>
  {% endif %}

  
{% endblock %}

{% block map %}
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiZGFuazUyOCIsImEiOiJzOVp0TzJnIn0.1c8obLmcPHN4LosoNan8DQ';
var map = L.mapbox.map('map', 'mapbox.streets');

var featureLayer = L.mapbox.featureLayer()

markers = [
{% for post in posts %}
L.marker([{{post.latitude}}, {{post.longitude}}], {
    icon: L.mapbox.marker.icon({
        'marker-size': 'large',
        {% if post.image_path %}
        'marker-symbol': 'camera',
        {% else %}
        'marker-symbol': 'library',
        {% endif %}
        'marker-color': '#2196F3'
    })
})
{% if post.image_path %}
.bindPopup('<img src="{{url_for('user.prox', path=post.image_path)}}" height="120px"/>',{closeButton : false}),
{% elif post.text %}
.bindPopup('<p class="truncate">{{post.title}}</p><a class="black-text" href="{{ url_for('user.post', id=post.id) }}">Read</a>',{closeButton : false}),
{% endif %}
{% endfor %}
];

var group = L.featureGroup(markers).addTo(map);
map.fitBounds(group.getBounds());

</script>
{% endblock %}

