{% extends "base.html" %}

{% block title %}Post {{post.title}} {% endblock %}

{% block body %}

  <div id="static-map" class="card">
  </div>

  <div class="card">
    <div class="card-content white-text">
    {% if post.image_path %}
    <div class="card-image">
      <img src="{{url_for('user.prox', path=post.image_path)}}">
    </div>
    {% endif %}
    <div class="container">
    <span class="card-title">{{ post.title }}</span>
    <div class="divider"></div>
    <div class="card-action">
      {{ post.timestamp.strftime('%B %d, %Y -  %I:%M %p') }}
    </div>
    {% if post.text %}
      {{ post.text | markdown }}
    {% elif post.caption %}
      <p>{{ post.caption }}</p>
    {% endif %}
    </div>
    </div>
  </div>



{% endblock %}

{% block map %}
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/geojson-extent/v0.0.1/geojson-extent.js'></script>

  <script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiZGFuazUyOCIsImEiOiJzOVp0TzJnIn0.1c8obLmcPHN4LosoNan8DQ';

    var place = {
      "type": "FeatureCollection",
      "features": [
        {
          "type": "Feature",
          "properties": {},
          "geometry": {
            "type": "Point",
            "coordinates": [
              {{ post.longitude }},
              {{ post.latitude }}
            ]
          }
        }
      ]
    };

    var bounds = geojsonExtent(place);
    bounds[0] -= 0.1; bounds[1] -= 0.1; bounds[2] += 0.1; bounds[3] += 0.1;
    var size = [750, 300];
    var vp = geoViewport.viewport(bounds, size);
    var pins = [];
    pins.push('pin-l+2196F3(' + place.features[0].geometry.coordinates.join(',') + ')');

//url("https://api.tiles.mapbox.com/v4/mapbox.streets/pin-l+2196F3(-74.954611,40.2611473)/-74.954611,40.2611473,10/750x300.png?access_token=pk.eyJ1IjoiZGFuazUyOCIsImEiOiJzOVp0TzJnIn0.1c8obLmcPHN4LosoNan8DQ") scroll center transparent
   
    $("#static-map").css("background", "url('" +
        "https://api.tiles.mapbox.com/v4/mapbox.streets/" +
        pins.join(',') + "/" +
        vp.center.join(',') + "," +
        vp.zoom + "/" +
        size.join('x') + ".png" +
        "?access_token=" + L.mapbox.accessToken + "') scroll center");
  </script>
{% endblock %}
