{% extends "base.html" %}

{% block title %}
  {% if request.path == '/user/image'%}
    New Postcard
  {% else %}
    Edit Postcard
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script>
    function geoFindMe() {
      var output = document.getElementById("out");
      var lat_out = document.getElementById("lat");
      var long_out = document.getElementById("long");

      if (!navigator.geolocation){
        output.innerHTML = "<p>Geolocation is not supported by your browser</p>";
        return;
      }

      function success(position) {
        var latitude  = position.coords.latitude;
        var longitude = position.coords.longitude;
        lat_out.value = latitude;
        long_out.value = longitude;
        output.innerHTML = "Found you!"
      };

      function error() {
        output.innerHTML = "Unable to retrieve your location";
      };

      output.innerHTML = "<p>Locating…</p>";

      navigator.geolocation.getCurrentPosition(success, error);
    }
  </script>

{% endblock %}

{% block body %}

  <div class="card">`
    <div class="card-content white-text">
    <div class="container">

    <span class="card-title">
    {% if request.path == '/user/image'%}
      New Postcard <i class="mdi-image-photo-camera right"></i> 
    {% else %}
      Edit Postcard <i class="mdi-image-photo-camera right"></i>
    {% endif %}
    </span>
    <div class="divider"></div>
    <div class="section">

    <form role="form" action="{{ url_for('.new_image') }}" method="post" enctype=multipart/form-data>
      {{ form.hidden_tag() }}

      {{ form.title.label }}
      {% if form.title.errors %}
        {% for e in form.title.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.title(class_="form-control") }}

      {% if request.path == '/user/image'%}
        {{ form.image.label }}
        {% if form.image.errors %}
          {% for e in form.image.errors %}
            <p class="help-block">{{ e }}</p>
          {% endfor %}
        {% endif %}
        {{ form.image(class="file") }}
      {% endif %}

      <p>
      {{ form.caption.label }}
      {% if form.caption.errors %}
        {% for e in form.caption.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.caption(class_="materialize-textarea", length="512") }}
      </p>

      <div class="row">
        <div class="col m6">
          {{ form.latitude.label }}
          {% if form.latitude.errors %}
            {% for e in form.latitude.errors %}
              <p class="help-block">{{ e }}</p>
            {% endfor %}
          {% endif %}
          {{ form.latitude(class_="form-control", id="lat") }}
        </div>
        <div class="col m6">
          {{ form.longitude.label }}
          {% if form.longitude.errors %}
            {% for e in form.longitude.errors %}
              <p class="help-block">{{ e }}</p>
            {% endfor %}
          {% endif %}
          {{ form.longitude(class="form-control", id="long") }}
        </div>
      </div>


      <div class="card-action">
        <ul>
        <li><a class="btn-flat white-text waves-effect waves-light" type="none" action="none" onclick="geoFindMe()">
          <i class="mdi-maps-place left"></i>
          Get location
        </a><div id="out" class="right"></div></li>
        <li><button class="btn-flat white-text waves-effect waves-light" type="submit">
          Submit
          <i class="mdi-content-send left"></i>
        </button></li>
        {% if request.path != '/user/image'%}
          <li><a href="{{ url_for('user.delete_post', id=pid)}}" class="btn-flat red darken-2 white-text waves-effect waves-light" type="submit">
            Delete
            <i class="mdi-action-delete left"></i>
          </a></li>
        {% endif %}
        </ul>
      </div>
    </form>
    </div>

    </div>
    </div>
  </div>

{% endblock %}

{% block footer %}

{% endblock %}
