{% extends "base.html" %}

{% block title %}Pings{% endblock %}

{% block scripts %}

  {{ super() }}

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/geojson-extent/v0.0.1/geojson-extent.js'></script>

{% endblock %}

{% block body %}

  <div id="pings" class="card">
    <div class="card-content">
    </div>
  </div>

  <div class="card">
    <div class="card-content white-text">
      <span class="card-title">Latest Ping Locations<i class="mdi-maps-my-location right"></i></span>
      <div class="divider"></div>
      Last Ping: {{ last.strftime('%H:%M %m/%d/%y UTC') }}.
      Note: Only showing 500 latest pings.
    </div>
  </div>

  
{% endblock %}

{% block map %}
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiZGFuazUyOCIsImEiOiJzOVp0TzJnIn0.1c8obLmcPHN4LosoNan8DQ';

var geojsonMarkerOptions = {
    radius: 3,
    fillColor: "#ff4444",
    color: "#000",
    weight: 1,
    opacity: 0.0,
    fillOpacity: 0.7
};

var map = L.mapbox.map('pings', 'mapbox.streets').setView([15.0, 104], 5);

var myStyle = {
    "color": "#ff7800",
    "weight": 5,
    "opacity": 0.65
};

L.geoJson({{ geo_json | safe }}, {
    style: myStyle
}).addTo(map);

</script>
{% endblock %}

{% block footer %}

{% endblock %}
