{% extends "base.html" %}

{% block title %}Pings{% endblock %}

{% block scripts %}

  {{ super() }}

  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/geojson-extent/v0.0.1/geojson-extent.js'></script>

{% endblock %}

{% block body %}

  <div id="map" class="card">
    <div class="card-content">
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Latest pings<i class="mdi-maps-my-location right"></i></span>
      <div class="divider"></div>

      <div class="row">
        <div class="col s12">
          <table class="hoverable centered white-text">
          <thead>
          <tr>
              <th data-field="icn"></th>
              <th data-field="time">Time</th>
          </tr>
          </thead>
          <tbody>
          {% for ping in pings %}
          <tr>
            <td><i class="right mdi-maps-pin-drop"></i></td>
            <td>{{ ping.timestamp.strftime('%H:%M %y/%m/%d') }}</td>
          </tr>
          {% endfor %}
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  
{% endblock %}

{% block map %}
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiZGFuazUyOCIsImEiOiJzOVp0TzJnIn0.1c8obLmcPHN4LosoNan8DQ';

var geojsonMarkerOptions = {
    radius: 3,
    fillColor: "#ff4444",
    color: "#000",
    weight: 1,
    opacity: 0.0,
    fillOpacity: 0.7
};

var map = L.mapbox.map('map', 'mapbox.streets')

L.geoJson({{ geo_json | safe }}, {
  pointToLayer: function (feature, latlng) {
      return L.circleMarker(latlng, geojsonMarkerOptions);
  }
}).addTo(map);

</script>
{% endblock %}

{% block footer %}

{% endblock %}
